@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* grid*/

.grid {
    display: grid;
    grid-template-areas: "section""main""footer";
    grid-template-rows: auto 350px auto;
    grid-template-columns: auto;
    height: 100vh;
}

section {
    grid-area: section;

}

main {
    grid-area: main;

}

footer {
    grid-area: footer;
    background-color: #5e5e5e;
}

/* ---*/

body {
    background-color: #f2f2f2;
}

a:link {
    text-decoration: none;
}

/* Nav Bar*/


/*-------------------------------Navegador----------------------------- */
.imagen-logo-nav {
    margin-right: 450px;
    height: 70px;
}
.nav-link {
    margin: 0;
}

.navbar {
    background-color: #5271FF;
    color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 12%;

}
.navbar-toggler {
    border: transparent;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    
}

#link-nav {
    margin-right: 15px;
    margin-left: 15px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.header {
    background: url("../multimedia/img/teque-entrada.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;

}

.texto-header {
    position: absolute;
    width: 680px;
    margin-left: 78px;
    margin-top: 300px;

}

.h2-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 40px;
    height: 53px;
    margin: 0;

}

.h1-header {
    font-family: 'Texturina', serif;
    font-size: 70px;
    color: #ffffff;
    height: 109px;

}

.button-header {
    width: 400px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: #5271FF;
    color: #ffffff;
    font-size: 25px;
    border: solid #5271FF 2px;
    border-radius: 6px;

    &:hover {
        opacity: 70%;
    }

}

/*section*/
.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    
}

.card-nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: 385px;
    margin-top: 70px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #0000004D;
    border: 1px solid #5271FF;
    border-radius: 6px;
}
.nosotros-texto {
    
    width: 60%;
    padding: 20px;
}
.h2-nosotros {
    color: #707070;
    font-weight: 400;
    padding-bottom: 20px;
    text-align: left;
    border-bottom: #5271FF solid 2px;
    width: 120px;
}
.nosotros-p {
    text-align: left;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #707070;
}
.nosotros__img--teq {
    width: 40%;
    height: 385px;
    border-radius: 6px;
}


.card-tequeños {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin-top: 70px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #0000004D;
    border: 1px solid #5271FF;
    border-radius: 6px;
    margin-bottom: 50px;
}
.h2-tequeños {
    color: #707070;
    margin-top: 44px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 400;

}
.tequeños-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 90%;
    
   
}
.tequeños-p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #707070;
}
.tequeños__img--teq {
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;
}
.tequeños-info-producto {
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #0000004D;
    border-radius: 6px;
    margin-bottom: 30px;
    width: 100%;
}
.h3-tequeños {
    padding: 20px;
    text-align: left;
    font-family: 'Texturina', serif;
    font-weight: bold;
    font-size: 20px;
    color: #707070;
    
}

.h3-span-tequeños {
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-weight: 350;
}
.tequeños-info-p {
    padding: 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-size: 18px;
}
.botones-tequeños {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.botones-teq {
    background-color: #5271FF;
    border: solid #5271FF 1px;
    border-radius: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 400px;
    height: 50px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 3px 6px #0000004D;


    &:hover {
        opacity: 70%;
    }
}

.botones-teq-vender {
    background-color: #ffffff;
    border: solid rgba(82, 113, 255, 50%) 2px;
    border-radius: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 400px;
    height: 50px;
    color: #5271FF;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 3px 6px #0000004D;

    &:hover {
        border: solid #b4c2ff 2px;
    }

}

/* Modal - Contacto*/



.modal-content {
   background-color: #5271FF;

}

.modal-title {
    font-family: 'Roboto', sans-serif;;
    font-weight: bold;
    color: white;
}

.containerForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#boton-close-modal {
    background-color: white;
    border: 1px solid white;
    color: #212832;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    &:hover {
        background-color: grey;
        color: #ffffff;
        transform: scale(1.03, 1.03);
    }
}

.form {
    list-style-type: none;
    background: #ffffff;
    color: #645C54;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 20px;
    border-radius: 10px;
}

input {
    font-family: 'Roboto', sans-serif;
    color: #262626;
    font-size: 15px;
    background: transparent;
    border: solid 2px #5271FF;
    border-radius: 5px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
}

.label-form {
    font-weight: bold;
}



input:hover,
textarea:hover {
    background-color: whitesmoke;
}

#botonEnviar {
    background:#5271FF;
    color: #ffffff;
    font-size: 15px;

    &:hover {
        opacity: 70%;
    }
}

textarea {
    font-family: 'Roboto', sans-serif;;
    color: #262626;
    font-size: 15px;
    background: transparent;
    border: solid 2px #5271FF;
    border-radius: 5px;
    text-align: left;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
}
/*main-recomendaciones*/

.recomendacion {
  
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.card {
    width: 70%;
    height: 250px;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #0000004D;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.img-recom {
    width: 150px;
}
.texto-recom {
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}
.h4-recom {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #707070;
}
.p-recom {
    text-align: left;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #707070;
}
.fas {
    color:grey;
    font-size: 40px;
}
/*footer*/
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-redes {
    background-color: #5271FF;
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.redes {
    width: 30%;
    
    
}

.fab {
    color: #ffffff;
    font-size: 55px;
}

.far {
    color: #ffffff;
    font-size: 55px;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.texto-redes {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin-top: 10px;

}

.footer__info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 250px;
    
}


.footer__info--nombre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 30%;
    
}
.nombre__footer--info {
    
    
    padding-top: 30px;
    font-family: 'Texturina', serif;
    color: #ffffff;
    font-size: 25px;
   

}
.linea-footer {
    border:solid 1px grey ;
    width: 30%;
    margin-top: 20px;
    
    
}

.footer__info--menu1 {
    
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  

}
.info__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}


.info__menu--enlace {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    

    &:hover {
        color: #ffffff;
    }
}


.footer__info--logo {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.info-logo {
    width: 200px;
    height: 200px;
}

.footer-nombre {
    background-color: #4e4e4e;
    border-top: #E7BC55 solid 3px;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.nombre {
    font-family: 'Texturina', serif;
    color: #ffffff;
    font-size: 30px;

}


/* MEDIA QUERY*/
@media (min-width: 300px) and (max-width: 768px) {

    .imagen-logo-nav {
        margin-right: 0;
        height: 80px;
    
    }
    .navbar {
        height: fit-content;
        background-color: transparent;
        position: absolute;
        
        &:visited{
            
            background-color:#5271FF;
        }&:hover{
            
            background-color:#5271FF;
        }
        &:active{
            
            background-color:#5271FF;
        }
    }
    .header {
        background: url("../multimedia/img/img-teque-8.jpeg") no-repeat center;
        background-size: cover;
        min-height: 70vh;
        margin-top: 0;
        


    }

    .texto-header {
        width: 300px;
        margin-left: 20px;
        margin-top: 280px;

    }

    .h2-header {
        font-size: 25px;
        height: 35px;
    }

    .h1-header {
        font-size: 30px;
        height: 55px;
    }

    .button-header {
        width: 290px;
        height: 50px;
        font-size: 20px;


    }
    /*cards*/

    .card-nosotros {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 90%;
        height: fit-content; 
    }
    .nosotros-texto {
        width: 90%;
  
    }
    
    .nosotros__img--teq {
        width: 100%;
        height: fit;
        
    }
    .card-tequeños {
        width: 90%;
        
    }
    
    .h3-span-tequeños {
        display: none;
        
    }

    .botones-teq {
        width: 300px;
    }
    
    .botones-teq-vender {
        width: 300px;
    }

    
    

    
    /*recomendaciones*/
    
    .card {
        width: 85%;
        height: 200px;
    }
    
    .img-recom {
        width: 100px;
    }
    
    .h4-recom {
        font-weight: bold;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        color: #707070;
    }
    .p-recom {
        text-align: left;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        color: #707070;
    }
    .fas {
        color:grey;
        font-size: 30px;
    }
  
    /*footer*/
    .footer-redes {
        height: 100px;
    }

    .fab {
        font-size: 50px;
    }
    
    .far {
        font-size: 50px;
    }
    .texto-redes {
        display: none;
    }
    .footer__info {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: fit-content;
        
    }
    .footer__info--nombre {
       
        width: 90%;
        
    }
    .footer__info--menu1 {
        width: 90%;
        align-items: flex-start;
    }
    
    
    .info__menu--enlace {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 25px;
        font-weight: 300;
        margin-bottom: 30px;
        
    
        &:hover {
            color: #ffffff;
        }
    }
    
    
    .footer__info--logo {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }
    
    .info-logo {
        width: 242px;
        height: 242px;
    }
    

    

    
}


